
body {
    font-family:"Trebuche MS", "Lucida Sans";
    border: 1px solid blue;
    background-color: black;
    color: white;
    max-width: 50em;
    margin-right: auto;
    margin-left: auto;
    padding: 1em;
}
h1 {
    color:blue
}
h2 {
    color: brown;
}
p.Lennon{
    color: #0000ff;
    font-style: italic;
}
p.Elivs{
    color: rgb(151, 169, 250);
}